@font-face {
        font-family: 'Akira Expanded';
        font-style: normal;
        font-weight: 800;
        src: url('https://fonts.cdnfonts.com/s/37506/Akira Expanded Demo.woff') format('woff');
}

body {
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

.container {
        font-family: 'Akira Expanded', sans-serif;
        font-size: x-large;
        padding-left: 10%;
        padding-right: 10%;
        margin-top: 35%;
        color: aliceblue;
        -webkit-text-stroke: 1% black;
}